.Bg{
    width:800px;
    height: 500px;
    margin:0 auto;
    margin-top:150px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px black;
    background-color: gray;
}

.header_text{
    color: white;
    text-align: right;
    font-size: 31px;
    width: 100%;
    float: right;
    margin-right: 25px;
    margin-top: 25px;
}

.header_btn{
    background-image: url('./assets/Upload.png');
    float: left;
    background-color: cornflowerblue;
    margin-top: -50px;
    margin-left: 25px;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 110px;
    padding-left: 29px;
    background-repeat: no-repeat;
    background-position: 10px;
    color: white;
}