.Bg{
    width:800px;
    height: 650px;
    margin:0 auto;
    margin-top:150px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px black;
    background-color: #222A34;
}


.header_text{
    color: white;
    text-align: right;
    font-size: 40px;
    width: 100%;
    float: right;
    margin-right: 25px;
    margin-top: 4px;
}

.header_btn{
    background-image: url('./assets/Upload.png');
    float: left;
    background-color:  #475366;
    margin-top: -29px;
    margin-left: 25px;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 110px;
    padding-left: 29px;
    background-repeat: no-repeat;
    background-position: 10px;
    font-family: 'Aduma';
    color:white;
}

.header{
    position: relative;
    height: 80px;
}

.header_subtext{
    color: white;
    top: 27px;
    position: absolute;
    left: 154px;
    direction: rtl;
}

.main_div{
    height: 77%;
}

.left_div{
    width: 67%;
    float: left;
    border: 1px solid white;
    height: 100%;
}

.right_div{
    width: 30%;
    float: right;

    height: 100%;
    background-color: #2F3A4B;
    margin-right: 10px;
    border-radius: 8px;
}

.right_div_middle_div{
    height: 80%;
    margin-top: 19%;
    background-color: #161B21;
}


.right_div_top_text{
    color: white;
    text-align: right;
    font-size: 25px;
    margin-right: 12px;
    padding-top:22px;
}


.right_div_top_subtext{
    color: white;
    text-align: right;
    font-size: 20px;
    margin-right: 12px;
    margin-top: 12px;
}


.right_div_top_btn{
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    color: #03A9F4;
    border: 1px solid #03A9F4;
    margin-top: 14px;
}

.right_div_top_sub_sub_text{
    color: white;
    font-size: 12px;
    text-align: right;
    padding-right: 30px;
    margin-top: 17px;
    background-image: url('./assets/check.png');
    background-repeat: no-repeat;
    background-position: 215px 0px
}